################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.dotnet-home
/.vs
/.probe
/.nuget-packages
/samples/Ideogram.Client.Console/bin
/samples/Ideogram.Client.Console/obj
/samples/Ideogram.Client.Samples/bin
/samples/Ideogram.Client.Samples/obj
/src/Ideogram.Client/bin
/src/Ideogram.Client/obj
/artifacts
