################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.dotnet-home
/samples/Ideogram.Client.Console/obj
/src/Ideogram.Client/obj
/samples/Ideogram.Client.Console/bin
/src/Ideogram.Client/bin
/.vs
/.probe/bin
/.probe/obj
/.nuget-packages
